<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>navesoft.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BA72C3AB1C68F9B900D9CF3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA72C3BF1C68F9B900D9CF3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA72C3CA1C68F9B900D9CF3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
